
[type='checkbox'] {
    margin:10px 0px 15px 0px;

}

#cat-photo-form {
    background-color:green;
}

.silver-background {
    background-color: silver;
}

.thick-green-border {
    border-color:green;
    border-width: 5px;
    border-style: solid;
    border-radius: 50%;
}

.smaller-image {
    width: 100px;
}

.red-text {
    color: red;
}

h2 {
    font-family: Lobster, monospace;
}

p {
    font-size: 16px;
    font-family: monospace;
}
